{% extends "layout.html" %}
{% block title %}Planets{% endblock %}
{% block navbar %}
    {% include 'nav_bar.html' %}
{% endblock %}
{% block body %}
<script src="{{ url_for('static', filename='js/planets.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/residents.js') }}" defer></script>

<div class="table-responsive">
    <table class="table table-hover" id="planets_table">
        <thead>
            <tr>
                {% for planet_property_name in planet_properties_name %}
                <th>{{ planet_property_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="planet" data-usersession="{{ session.username }}">
        </tbody>
    </table>
</div>
{% endblock %}
