<!-- Residents Modal -->
<div class="container" style="position: absolute">
    <div class="modal fade" role="dialog" id="residentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title", id="residenceTitle"></h4>
                </div>
                <div class="modal-body" id="">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class='text-center'>Name</th>
                                    <th class='text-center'>Height (m)</th>
                                    <th class='text-center'>Mass (kg)</th>
                                    <th class='text-center'>Skin color</th>
                                    <th class='text-center'>Hair color</th>
                                    <th class='text-center'>Eye color</th>
                                    <th class='text-center'>Birth year</th>
                                    <th class='text-center'>Gender</th>
                                </tr>
                            </thead>
                            <tbody id="residenceBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
